.App {
  width: 325px;
}

.top {
  width: 300px;
  border-radius: 5px;
  font-size: 28px;
  font-weight: 500;
  background-color: rgb(25, 35, 92);
  color: white;
  padding: 10px;
  margin: 0;
  margin-bottom: 10px;
}

.task-input {
  width: 310px;
  background-color: cornflowerblue;
  display: flex;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
}

.task-input * {
  border-radius: 5px;
}

.task-input input {
  width: 100%;
  border: none;
  padding: 5px;
  font-size: 18px;
  font-weight: 500;
  color: var(--text);
}

.task-input button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  margin-left: 10px;
}

.task {
  display: flex;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.task:hover {
  background-color: #04395e3d;
}

.task p {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  color: var(--text);
}

.action-btn {
  cursor: pointer;
  margin-left: 10px;
}
.action-btn:hover {
  background-color: #04395e3d;
  border-radius: 5px;
}
.tasktask-done {
  display: flex;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.tasktask-done:hover {
  background-color: #04395e3d;
}
